<app-admin-header></app-admin-header>

<mat-card class="example-card">
    
    <mat-card-content>
      <form role="form" novalidate class="form-inline" name="vehicleForm">
          
          <div class="container">
              <div class="row">
                <div class="search-hero">
                  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">
                </div>
                <table>
                  <thead>
                  <tr>
                    
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Worker Name</th>
                    <th></th>
                    <th>Status</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let v of vacations | filter:searchText">
                    
                    <td>{{v.startDate}}</td>
                    <td>{{v.endDate}}</td>
                    <td></td>
                    <td></td>
                    <td *ngIf="v.approve == false"> Decline</td>
                    <td *ngIf="v.approve == true"> Approve</td>
                    <button *ngIf="v.answered == false" id="eyeBtn" (click)="approve(v)">Aprove</button>

                    <button *ngIf="v.answered == false" id="eyeBtn" (click)="decline(v)">Decline</button>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </form>
      
      
    </mat-card-content>

    
  </mat-card>





