button{
    color: white;
    background: lightskyblue;
    border-radius: 1rem;
    border: none;
    width: 180px;
    height: 30px;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 7px;
}

mat-card{
    margin: 2% 10% 10% 10%;
}

input,select{
    
    border-color: lightskyblue;
    border-width: 2px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    
}

table {
    width: 100%;
  }


  

.mat-sort-header-container {
  align-items: center;
}
  