
  h1 {
    text-align: center;
  }
  button {
    padding      : 5px;  
    cursor       : pointer;
    margin: 20px 0px 20px 80px;
    color: white;
    background: lightskyblue;
    border-radius: 1rem;
    border: none;
    width: 300px;
    height: 40px;
    font-weight: bold;
  }

  label{
      font-weight: bold;
      margin: 0px 10px 10px 0px;
      width: 200px;
      
  }