td{
    color: green;
}

button{
    border: none;
    background-color: lightskyblue;
}

p{
    width: 90%;
}

mat-toolbar{
    background-color: lightskyblue;
}

mat-icon{
    color: white;
}

span{
    color: white;
}