
<button *ngIf="onEditButton != true " (click)="onEditMed()">Edit med</button>
<button *ngIf="onEditButton == true " (click)="onSubmit()">Submit changes</button> 



<form role="form" novalidate class="form-inline" name="personForm">
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Med Name</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" id="prvaKolonaLabela" >{{med.name}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newName"  name="newF" [value]="med.name">
    </div>
  
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Med Type</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" id="prvaKolonaLabela" >{{med.type}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newType"  name="newF" [value]="med.type">
    </div>

    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Med From</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" id="prvaKolonaLabela" >{{med.form}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newForm"  name="newF" [value]="med.form">
    </div>

    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Med Producer</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" id="prvaKolonaLabela" >{{med.producer}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newProducer"  name="newF" [value]="med.producer">
    </div>


    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">IssuanceRegime</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" id="prvaKolonaLabela" >{{med.issuanceRegime}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newIssuanceRegime"  name="newF" [value]="med.issuanceRegime">
    </div>

    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Additional Notes</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" id="prvaKolonaLabela" >{{med.additionalNotes}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newNotes"  name="newF" [value]="med.additionalNotes">
    </div>
    
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Med Price</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" id="prvaKolonaLabela" >{{med.price}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newPrice"  name="newF" [value]="med.price">
    </div>
    
   
</form>

