<div id="wrapper">
    <div class="container">
      <div class="three-column">	
        <mat-card class="example-card">
    
          <mat-card-content>
            <form role="form" novalidate class="form-inline" name="vehicleForm">
                
                <div class="container">
                    <div class="row">
                      
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          
                          <th>Full name</th>
                          <th>Category</th>
                          <th>Image</th>
                          
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let request of requests">
                          
                          <td>{{request.fullName}}</td>
                          <td>{{request.category}}</td>
                          <td>{{request.image}}</td>
                          
                          
                          <button (click)="onViewProfile(request.userId)">View profile</button>
                          <button (click)="onDeleteRequest(request.id)">Delete request</button>
                          <button (click)="onVerify(request.id)">Verify profile</button>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </form>
            
            
          </mat-card-content>
      
          
        </mat-card>			
      </div>
    </div>
  </div>
 