
  <div class="forma">


        <label class="label"> Pick date: </label>

        <form>

            <input
              type="date"
              class="input"
              name="examinationDateInput"
              [(ngModel)]="date"/>
          </form>

            <label class="label">Pick time:</label>
            <input type="time" id="input" class="input"  value="time" [(ngModel)]="time" />

  </div>








  <form role="form" novalidate class="form-inline" name="vehicleForm" class="form-group">

      <div class="form-group">
        <label for="vehicle-form-brand">Dermatologist:</label>
        <select class="form-control" name="brand" id="vehicle-form-brand" required >
          <option value="" disabled selected>Select dermatologist</option>
          <option *ngFor="let derm of dermatologists" (click)="onSelectedDermatologist(derm)">{{derm.firstName}} {{derm.lastName}}</option>
        </select>								
      </div>



  
      <label class="label">Duration:</label>
       <input [(ngModel)]="term.duration"  />

       <label class="label">Price:</label>
       <input [(ngModel)]="term.price"  />
   
        
    </form>


    <button mat-raised-button (click)="addTerm()">Add appointment term</button>

