




<mat-card class="example-card">
  
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          

          <tr>
          <td><mat-form-field class="example-full-width">

            <mat-form-field appearance="fill">
              <mat-label>Pick date</mat-label>
              <input matInput [matDatepicker]="picker3" [value]="date">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>

            <div class="form-group">
              <label for="vehicle-form-model">Pharmacy:</label>
              <select class="form-control" name="pharmacy" required>
                <option value="pharmacy" disabled selected>Select pharmacy</option>
                <option *ngFor="let ph of pharmacies" (click)="onSelectedPharmacy(ph)" >{{ph.name}} {{ph.address}}</option>               
              </select>
            </div>

            <div class="form-group">
              <label for="vehicle-form-model">Dermatologist:</label>
              <select class="form-control" name="pharmacy" required>
                <option value="dermatologist" disabled selected>Select dermatologist</option>
                <option *ngFor="let derm of dermatologists" (click)="onSelectedDermatologist(derm)" >{{derm.firstName}} {{derm.lastName}}</option>               
              </select>
            </div>

            <label>Duration:</label>
  


            <label>Price:</label>
          

          </mat-form-field></td>
        </tr>
      </table>
      </form>  
    </mat-card-content>


    <mat-card-actions>
      <button mat-raised-button (click)="addTerm()">Add appointment term</button>
    </mat-card-actions>
  
  </mat-card>
 
