mat-form-field{
    margin-left: 50px;
    margin-top: 50px;
    color: lightskyblue;
}

button{
    color: white;
    background: lightskyblue;
    border-radius: 1rem;
    border: none;
    width: 200px;
    height: 40px;
    margin-left: 30px;
    font-weight: bold;
}
input{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 0.5rem;
    padding: 2px 0 5px 5px;
    border-width: 0ch;
}

label,input{
    color: lightslategray;
    margin-left: 30px;
}
