<mat-toolbar>
    <mat-icon>medication</mat-icon>
    <span>Medika</span>
    <p></p>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          pharmacy profile
            <mat-icon routerLink="/adminPage">home</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          meds
            <mat-icon routerLink="/adminMeds">medication</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            appointments
            <mat-icon routerLink="/terms">event</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            pharmacists
            <mat-icon routerLink="/pharmacists">person</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            dermatologists
            <mat-icon routerLink="/dermatologists">person</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            promotions
            <mat-icon routerLink="/promotions">shop</mat-icon>
          </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          admin profile
        <mat-icon routerLink="/adminProfile">person</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          report
        <mat-icon routerLink="/report">report</mat-icon>
        </button>
        
    </div>
  </mat-toolbar>

  <p> </p>
