<mat-toolbar>
    <mat-icon>medication</mat-icon>
    <span>Medika</span>
    <p></p>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/adminPage">
          pharmacy profile
            <mat-icon routerLink="/adminPage">home</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/adminMeds"> 
          meds
            <mat-icon routerLink="/adminMeds">medication</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/terms">
            appointments
            <mat-icon routerLink="/terms">event</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/pharmacists">
            pharmacists
            <mat-icon routerLink="/pharmacists">person</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/dermatologists">
            dermatologists
            <mat-icon routerLink="/dermatologists">person</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/promotions">
            promotions
            <mat-icon routerLink="/promotions">shop</mat-icon>
          </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/adminProfile"> 
          admin profile
        <mat-icon routerLink="/adminProfile">person</mat-icon>
      </button>

        <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/report">
          report
        <mat-icon routerLink="/report">report</mat-icon>
      </button>

        <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/vacations">
          vacation request
        <mat-icon routerLink="/vacations" > sentiment_satisfied</mat-icon>
      </button>

      <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/orders">
        orders
      <mat-icon routerLink="/orders" >medication</mat-icon>
    </button>

        
    </div>
  </mat-toolbar>

  <p> </p>
