




<mat-card class="example-card">
  
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          

          <tr>
          <td><mat-form-field class="example-full-width">
            <mat-form-field appearance="fill">
              <mat-label>Pick start date</mat-label>
              <input matInput [matDatepicker]="picker3"  [(ngModel)]="date" name = "date">
              <mat-datepicker-toggle matSuffix [for]="picker3" ></mat-datepicker-toggle>
              <mat-datepicker #picker3 ></mat-datepicker>
            </mat-form-field>
          </mat-form-field></td>
        </tr>
  


        

      </table>
      </form>  
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="addMed()">Add medicine</button>
      </mat-card-actions>


    <mat-card-actions>
      <button mat-raised-button (click)="addOrder()">Finish order</button>
    </mat-card-actions>
  
  </mat-card>
 

