table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  th.mat-header-cell .mat-sort-header-container.mat-sort-header-sorted .mat-sort-header-arrow {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
  