<app-admin-header></app-admin-header>

<button *ngIf="onEditButton != true " (click)="onEditProfile()">Edit profile</button>
<button *ngIf="onEditButton == true " (click)="onSubmit()">Submit changes</button> 



<form role="form" novalidate class="form-inline" name="personForm">
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">First Name:</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name"  >{{user.firstName}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newFirstName"  name="newF" [value]="user.firstName">
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Last Name:</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" >{{user.lastName}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newLastName"  name="newF" [value]="user.lastName">
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Username:</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" >{{user.username}}</label>    
        <input *ngIf="onEditButton == true" [(ngModel)]="newUsername"  name="newF" [value]="user.username">								
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Password:</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" >*</label>    
        <input *ngIf="onEditButton == true" [(ngModel)]="newPassword"  name="newF" [value]="user.password" >							
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Email Address:</label>
        <label  for="find-form-first-name" >{{user.email}}</label>    
       								
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Phone number:</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" >{{user.phoneNumber}}</label>    
        <input *ngIf="onEditButton == true" [(ngModel)]="newPhoneNumber"  name="newF" [value]="user.phoneNumber">								
    				
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Address:</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" >{{user.address}}</label>    
        <input *ngIf="onEditButton == true" [(ngModel)]="newAddress"  name="newF" [value]="user.address">								
    								
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">City</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" >{{user.city}}</label>    
        <input *ngIf="onEditButton == true" [(ngModel)]="newCity"  name="newF" [value]="user.city">								
    							
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Country:</label>
        <label *ngIf="onEditButton == false" for="find-form-first-name" >{{user.country}}</label>    
        <input *ngIf="onEditButton == true" [(ngModel)]="newCountry"  name="newF" [value]="user.country">								
    
      								
    </div>

       							

    
    
   
</form>
