
      <form role="form" novalidate class="form-inline" name="vehicleForm">
          
          <div class="container">
              <div class="row">
                
                <table matSort (matSortChange)="sortData($event)" class="table table-striped">
                  <thead>
                  <tr>
                    
                    <th mat-sort-header="name">Med name</th>
                    <th mat-sort-header="type">Type</th>
                    <th mat-sort-header="form">Form</th>
                    <th mat-sort-header="allergy">Add allergy</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let med of sortedData | filter:searchText">
                    
                    <td>{{med.name}}</td>
                    <td>{{med.type}}</td>
                    <td>{{med.form}}</td>
                    <td><button (click)="addAllergy(med)">+</button></td>
                    
                    
                    
                    
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </form>
      

