<app-header-l></app-header-l>

<mat-card class="example-card">
    
    <mat-card-content>
      <form role="form" novalidate class="form-inline" name="vehicleForm">
          
          <div class="container">
              <div class="row">
                <div class="search-hero">
                  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">
                </div>
                <table>
                  <thead>
                    <tr>
                    
                        <th>Pharmacy name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Your rate</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let ph of pharmacies | filter:searchText">
                        
                        <td>{{ph.name}}</td>
                        <td>{{ph.address}}</td>
                        <td>{{ph.city}}</td>
                        <td><input name="ocena" [(ngModel)]="ocena"></td>
                        <td><button id="eyeBtn" (click)="ratePharmacy(ph.id)">
                          Rate
                      </button></td>
                      </tr>
                      <tr>RATED PHARMACIES</tr>

                      <tr *ngFor="let ph1 of ratedPharmacies | filter:searchText1">
                        
                        <td>{{ph1.name}}</td>
                        <td>{{ph1.address}}</td>
                        <td>{{ph1.city}}</td>
                        <td><input name="ocena" [(ngModel)]="ocena1"></td>
                        <td><button id="eyeBtn" (click)="changeRate(ph1.id)">
                          Change your rate
                      </button></td>
                      </tr>

                 
                  </tbody>
                </table>
              </div>
            </div>
      </form>
      
      
    </mat-card-content>

    
  </mat-card>

