<form role="form" novalidate class="form-inline">
    <div class="form-group">
        <label>Pharmacy</label>
        <label>{{pharmacy.name}}</label>								
    </div>
    <div class="form-group">
        <label>Address</label>
        <label>{{pharmacy.address}}</label>								
    </div>
    <div class="form-group">
        <label>City</label>
        <label>{{pharmacy.city}}</label>								
    </div>
    <div class="form-group">
        <label>Rate</label>
        <label>{{pharmacy.avgRank}}</label>								
    </div> 
</form>

<button *ngIf="userLogged == true" (click)="onSchedule()">Schedule dermatologist</button>   
<button type="submit" mat-dialog-close mat-button>Close</button>

