<mat-card class="example-card">
    
    <mat-card-content>
      <form role="form" novalidate class="form-inline" name="vehicleForm">
          
          <div class="container">
              <div class="row">
                <div class="search-hero">
                  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">
                </div>
                <table matSort (matSortChange)="sortData($event)" class="table table-striped">
                  <thead>
                  <tr>
                    
                    <th mat-sort-header="date">Date</th>
                    <th mat-sort-header="duration">Duration</th>
                    <th mat-sort-header="price">Price</th>
                    <th mat-sort-header="dermatologistName">Dermatologist</th>
                    <th mat-sort-header="dermatologistSurname"></th> 
                    <th mat-sort-header="rank">Dermatologist rank</th>                   
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let app of sortedData | filter:searchText">
                    
                    <td>{{app.date}}</td>
                    <td>{{app.duration}}</td>
                    <td>{{app.price}}</td>
                    <td>{{app.dermatologist.firstName}}</td>
                    <td>{{app.dermatologist.lastName}}</td>
                    <td>{{app.dermatologist.stars}}</td>
                    
                    <button id="eyeBtn" (click)="scheduleAppointment(app)">Schedule</button>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </form>
      
      
    </mat-card-content>

    
  </mat-card>
