<app-admin-header></app-admin-header>

<mat-toolbar>
    <div>
        <h1>Profil apoteke</h1>
    </div>
</mat-toolbar>

<form role="form" novalidate class="form-inline" name="personForm">

    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Pharmacy</label>
        <label  for="find-form-first-name" id="prvaKolonaLabela" >{{pharmacy.name}}</label>								
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Address</label>
        <label  for="find-form-first-name" id="prvaKolonaLabela" >{{pharmacy.address}}</label>		
        <button class="btn btn-primary" (click)="showMap()">Pokazi na mapi</button>
					
    </div>


    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">City</label>
        <label  for="find-form-first-name" id="prvaKolonaLabela" >{{pharmacy.city}}</label>								
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Rate</label>
        <label  for="find-form-first-name" id="prvaKolonaLabela" >{{pharmacy.avgRank}}</label>								
    </div>


    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Prices:</label>
        <label  for="find-form-first-name" id="prvaKolonaLabela" ></label>								
    </div>

 
   
</form>


