<mat-toolbar>
    <mat-icon>medication</mat-icon>
    <span>Medika</span>
    <p></p>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon (click)="homeClicked()">home</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>control_point</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>chat</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>photo_camera</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon (click)="clickedProfile()">person</mat-icon>
        </button>
    </div>
  </mat-toolbar>
  
  
  <app-pharmacy-list *ngIf="profile != true"></app-pharmacy-list>

  <app-user-profile *ngIf="profile == true"></app-user-profile>


  