<form role="form" novalidate class="form-inline">
    <div class="form-group">
        <label>Starts</label>
        <label>{{term.start}}</label>								
    </div>
    <div class="form-group">
        <label>Ends</label>
        <label>{{term.end}}</label>								
    </div>
    <div class="form-group">
        <label>Pharmacist</label>
        <label>{{pharmacist.firstName}}</label>							
    </div>
    <div class="form-group">
        <label></label>		
        <label>{{pharmacist.lastName}}</label>							
    </div>
    <div class="form-group">
        <label>Pharmacy</label>
        <label>{{pharmacist.pharmacy.name}}</label>								
    </div> 
    <div class="form-group">
        <label>Address</label>
        <label>{{pharmacist.pharmacy.address}}</label>								
    </div> 
    <div class="form-group">
        <label>City</label>
        <label>{{pharmacist.pharmacy.city}}</label>								
    </div> 
</form>

<button type="submit" mat-dialog-close mat-button>Close</button>

